.details-table {
    width: 978px;
    padding: 1rem;
    border-radius: 5px;
    background: #151515;
    box-shadow: 0px 0px 5px #000;
}

.selected-row-info {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: .5rem;
    background: #151515;
}

.book-cover {
    height: 280px;
    width: 250px;
    margin-right: .5rem;
}

.book-cover-img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.books-brief-info {
    width: 300px;
    padding: .7rem;
}

.book-info {
    margin-bottom: .5rem;
}

.book-desc-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #202020;
    height: 280px;
    width: 425px;
    padding: .5rem;
}

.books-desc-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #dee2e6;
    background: #003566;
}

.books-desc-info {
    padding: .5rem;
    overflow-y: auto;
    text-align: justify;
}

.book-desciption {
    font-size: 14px;
    color: #dee2e6;
}

.book-key-title {
    font-size: 16px;
    font-weight: 500;
    margin-right: .5rem;
    color: #dee2e6;
}

.book-value {
    font-size: 16px;
    font-weight: 500;
    color: #00a6fb;
}

.author-booklist-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #343a40;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.authors-books-list {
    height: 345px;
    width: 100%;
    overflow-y: auto;
    background: #151515;
}

.author-book-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    margin: .5rem;
    border-radius: 5px;
    background: #202020;
    border: 1px solid #343a40;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

.author-book-row:hover {
    background: #343a40;
    transition: 200ms ease-in-out;
}

.author-book-title {
    font-size: 12px;
    font-weight: 500;
    color: #00a6fb;
}

.author-book-author {
    font-size: 14px;
    font-weight: 500;
    color: #dee2e6;
}


@media (max-width: 978px) {
    .details-table {
        width: 600px;
    }

    .selected-row-info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .details-table {
        width: 450px;
    }
}