.details-table {
    width: 978px;
    height: 700px;
    padding: 1rem;
    border-radius: 5px;
    background: #151515;
    box-shadow: 0px 0px 5px #000;
}

.selected-row-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    height: 300px;
    border-radius: 5px;
    background: #151515;
}

.book-cover {
    height: 280px;
    width: 250px;
    margin-right: .5rem;
}

.book-cover-img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.books-brief-info {
    height: 100%;
    width: 300px;
    padding: .7rem;
}

.book-desc-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #202020;
    height: 280px;
    width: 425px;
    border: 1px solid #343a40;

}

.books-desc-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #dee2e6;
    background: #003566;
}

.books-desc-info {
    padding: .5rem;
    overflow-y: auto;
    text-align: justify;
}

.book-desciption {
    font-size: 14px;
    color: #dee2e6;
}

.book-info {
    margin-bottom: .5rem;
}

.book-key-title {
    font-size: 16px;
    font-weight: 500;
    margin-right: .5rem;
    color: #dee2e6;
}

.book-value {
    font-size: 16px;
    font-weight: 500;
    color: #00a6fb;
}

.author-booklist-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #343a40;
}

.authors-books-list {
    height: 315px;
    width: 100%;
    overflow-y: auto;
    background: #151515;
}

.author-book-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    margin: .5rem;
    border-radius: 5px;
    background: #202020;
    border: 1px solid #343a40;
}

.author-book-title {
    font-size: 12px;
    font-weight: 500;
    color: #ffd60a;
}

.author-book-kind {
    font-size: 14px;
    font-weight: 500;
    color: #dee2e6;
}