.table-area {
    width: 978px;
    padding: .5rem;
    border: 1px solid #555;
    border-radius: 5px;
    background: #202020;
    box-shadow: 0px 0px 5px #000;
}

.table {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.table-header {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.table-header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.table-header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00509d;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    border: 1px solid #00296b;
    color: #edf2f4;
}

.table-body {
    width: 100%;
}

.table-body-col {
    height: 100%;
    text-align: center;
}

.item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: none;
    background: #00296b;
    cursor: pointer;
}

.item-row:hover {
    background: #00a6fb;
}

.row-cell {
    width: 100%;
    margin: .1rem;
    padding: .5rem;
    font-size: 14px;
    font-weight: 500;
    color: #edf2f4;
    border: 1px solid #000;
    background: #495057;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unavailable-msg {
    color: #ef233c;
}