* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background: #edf6f9;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 75px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.breadcrumb {
  width: 978px;
  margin-bottom: 1rem;
}