* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(135deg, #09203f 10%, #537895 100%);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 75px 0 85px 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.breadcrumb {
  width: 850px;
  margin-bottom: 1.5rem;
}

.breadcrumb-link {
  margin-right: 1rem;
  text-decoration: none;
  color: #edf2f4;
  transition: 200ms ease-in-out;
}

.breadcrumb-link-text {
  margin-right: .5rem;
}

@media (max-width: 978px) {
  .breadcrumb-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
    transition: 200ms ease-in-out;
  }
}